header{background-color:plum;
padding: 10px;}
nav{background-color: gray;
    padding: 5px;
}
section{float: left;
    width:70% ;
    background-color:beige;}
aside{float: left;
    width:30% ;
    background-color:cornflowerblue;}
footer{background-color:violet;
    padding: 10px;
}
.contenedor::after{
    content: "";
    clear: both;
    display: block;
}